<!DOCTYPE html>
<html>
    <head>
        <title>Temp</title>
    </head>
    <body>
        <h1>Welcome. Enter text below</h1>
        <form action='/analyze', method='post'> {% csrf_token %}
            <textarea name='text' style='margin: 0px; width: 597px; height: 145px;'></textarea>
            <br>
            <input type="checkbox" name="removepunc">Remove Punctuations<br>
            <input type="checkbox" name="uppercase">Upper Case<br>
            <input type="checkbox" name="newline">Remove new lines<br>
            <input type="checkbox" name="spaceremover">Remove extra spaces<br>
            <input type="checkbox" name="charcount">get charcater count<br>
            <button type='submit'>Analyze</button>
        </form>
    </body>
</html>