{% extends 'base.html' %}

{% block title %} Home {% endblock title %}
{% block homeactive%} active {% endblock homeactive%}

{% block body %}
 {% comment %} <div class="container">
    <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <a class="link-secondary" href="#">Subscribe</a>
      </div>

      <div class="col-4 d-flex justify-content-end align-items-center"> {% endcomment %}
        {% comment %} <a class="link-secondary" href="#" aria-label="Search">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
        </a> {% endcomment %}
        {% comment %} <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
      </div>
    </div>
  </header>
</div> {% endcomment %}

<main class="container my-4">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">Welcome to iBlog</h1>
      <p class="lead my-3">A blog (a truncation of "weblog") is a discussion or informational website published on the World Wide Web consisting of discrete, often informal diary-style text entries (posts).</p>
      <a href='/blog' >Go to all posts</a>
    </div>
  </div>
<h2> Featured Posts</h2>
  <div class="row mb-2">
    <div class="col-my-2">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">World</strong>
          <h3 class="mb-0">What is a blog</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">A blog is a type of website where the content is presented in reverse chronological order...</p>
          <a href="/blog/blog-post" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

        </div>
      </div>
      
 </div>

 </div>
{% endblock body %}